{% extends "base.html" %}

{% block content %}
<h1>Register Equipment</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.serial_number.label }}<br>
        {{ form.serial_number(size=32) }}<br>
        {% for error in form.serial_number.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
    </div>
    <div>
        {{ form.model_name.label }}<br>
        {{ form.model_name(size=32) }}<br>
        {% for error in form.model_name.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
    </div>
    <div>
        {{ form.equipment_type.label }}<br>
        {{ form.equipment_type(size=32) }}<br>
        {% for error in form.equipment_type.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
    </div>
    <div>
        {{ form.manufacturer.label }}<br>
        {{ form.manufacturer(size=32) }}<br>
        {% for error in form.manufacturer.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
    </div>
    <div>
        {{ form.location.label }}<br>
        {{ form.location(size=32) }}<br>
        {% for error in form.location.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
    </div>
    <div>
        {{ form.building.label }}<br>
        {{ form.building(size=32) }}<br>
        {% for error in form.building.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
    </div>
    <div>
        {{ form.notes.label }}<br>
        {{ form.notes(cols=40, rows=5) }}<br>
        {% for error in form.notes.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}