{% extends "base.html" %}

{% block content %}
<h1>Login</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.staff_number.label }}<br>
        {{ form.staff_number(size=32) }}<br>
        {% for error in form.staff_number.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
    </div>
    <div>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}