{% extends "base.html" %}

{% block content %}
<h1>Create Maintenance Record</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.equipment_sn.label }}<br>
        {{ form.equipment_sn() }}<br>
        {% for error in form.equipment_sn.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
    </div>
    <div>
        {{ form.problem_description.label }}<br>
        {{ form.problem_description(cols=40, rows=5) }}<br>
        {% for error in form.problem_description.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}