<!-- User View Modal -->

                <div class="modal-body">
                 <div>
                      <p><strong>Staff No:</strong> <span id="staffno"></span></p>
                      <p><strong>Staff Name:</strong> <span id="staffname"></span></p>
                      <p><strong>Is Admin:</strong> <span id="isadmin"></span></p>
                      <p><strong>Created At:</strong> <span id="created_at"></span></p>
                      <p><strong>Updated At:</strong> <span id="updated_at"></span></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
