<!-- app/main/templates/equipment.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Equipment Details</h1>
<table class="table">
    <thead>
        <tr>
            <th>Serial Number</th>
            <th>Model Name</th>
            <th>Type</th>
            <th>Manufacturer</th>
            <th>Location</th>
            <th>Building</th>
            <th>Note</th>
            <th>Created At</th>
            <th>Created By</th>
        </tr>
    </thead>
    <tbody>
        {% for equipment in equipments %}
        <tr>
            <td>{{ equipment.sn }}</td>
            <td>{{ equipment.model_name }}</td>
            <td>{{ equipment.equipment_type }}</td>
            <td>{{ equipment.manufacturer }}</td>
            <td>{{ equipment.locname }}</td>
            <td>{{ equipment.building }}</td>
            <td>{{ equipment.note }}</td>
            <td>{{ equipment.created_at }}</td>
            <td>{{ equipment.created_by }}</td>
            <td><a href="{{ url_for('equipment.equipment_details', sn=equipment.sn) }}" class="btn btn-primary">Details</a></td>
        </tr>
        <!-- Button to Open the Modal to Add Maintenance -->
<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addMaintenanceModal">
    Add Maintenance
</button>
        {% include 'equipmentmaintenance/curdmodal.html' %}
        {% endfor %}
    </tbody>
</table>

{% endblock %}