{% extends "layout.html" %}
{% block content %}
<h1 class="mb-4">{{ employee.name }} - {{ employee.position }}</h1>
<div id="fileAlert" class="alert alert-danger d-none" role="alert">
    File type not allowed.
</div>
<form action="{{ url_for('upload_file', employee_id=employee.id) }}" method="post" enctype="multipart/form-data" class="mb-4" id="uploadForm">
    <div class="mb-3">
        <input class="form-control" type="file" name="file" id="fileInput">
    </div>
    <button type="submit" class="btn btn-primary" id="uploadButton" disabled>Upload</button>
</form>

<ul class="list-group">
    {% for file in employee.files %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{{ url_for('uploaded_file', employee_id=employee.id, filename=file.filename) }}">{{ file.filename }}</a>
    </li>
    {% endfor %}
</ul>

<script>
document.getElementById('fileInput').addEventListener('change', function() {
    const allowedExtensions = ['txt', 'pdf', 'png', 'jpg', 'jpeg', 'gif'];
    const fileName = this.value.split('\\').pop();
    const fileExtension = fileName.split('.').pop().toLowerCase();
    const fileAlert = document.getElementById('fileAlert');
    const uploadButton = document.getElementById('uploadButton');
    if (!allowedExtensions.includes(fileExtension)) {
        fileAlert.classList.remove('d-none');
        uploadButton.disabled = true;
    } else {
        fileAlert.classList.add('d-none');
        uploadButton.disabled = false;
    }
});
</script>
{% endblock %}